<html>
    <head>

        {% javascripts '@FirstBundle/Resources/public/js/bootstrap.min.js' %}
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets 'bundles/first/css/bootstrap.min.css' filter='cssrewrite' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
        {% endstylesheets %}

    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">{{ title }}</a>
                <ul class="nav">
                    <li><a href='mongo'>MongoDB</a></li>
                    <li><a href='sqlite'>SQLite</a></li>
                </ul>
            </div>
        </div>
        <div id="contentBlock">{% block content %}{% endblock %}</div>
    </body>
</html>