{% extends "AcmeDemoBundle::layout.html.twig" %}

{% block title "Hello " ~ firstName %}

{% block content %}
    <h1>Hello {{ firstName }} {{ lastName }}!</h1>
{% endblock %}

{% set code = code(_self) %}
